#divtag1{
    margin-left:130px;
    width:60%;
    height:40%;
    text-align: center;
    margin-top:20%;
   
}
#d01,#d02{
    font-size: 60px;
}
#d03{
    font-size: 40px;
}
#sp,#sp1{
    font-size: 30px;
}